body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url('./images/ocean.jpg') ;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addSquareDancer{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:1px solid transparent;
  border-radius:200px;
  position:absolute;
  height: 125px;
  width: 200px;
  background-image: url('./images/dori.gif');
  background-size: contain;
}
.sharkDancer{
  border: 1px solid transparent;
  border-radius:80px;
  position:absolute;
  animation: shark 2s linear;
  height: 125px;
  width: 225px;
  background-image: url('http://i.imgur.com/NElj9j3.gif');
  background-size: contain;
}

.nemoDancer{
  border:1px solid transparent;
  border-radius:80px;
  position:absolute;
  height: 125px;
  width: 125px;
  background-image: url('./images/nemo.gif');
  animation: rotate 3s infinite;
  background-size: contain;


}

@keyframes rotate {
  0% {
    transform: rotate(72deg);
  }
  25%{
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(216deg);
  }
  75%{
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shark {
  0% {
    left: 1294px;
    top: 400px;
  /* }
  25%{
    left:650px;
    top:400px; */

  }
  50% {
    left: 650px;
    top: 420px;
  }
  /* 75%{
    left: 300px;
    top:700px;
  } */
  100% {
    left: 0px;
    top: 400px;
  }
}
